name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: stable
      
    - name: Check formatting
      run: |
        gofmt -w -s .
        if [[ -n $(git diff --exit-code) ]]; then
          echo "Go files were not formatted correctly:"
          git diff
          exit 1
        fi

    - name: Build examples
      working-directory: examples/go/
      run: for DIR in $(find . -name 'go.mod'); do cd $(dirname $DIR); go build || exit 1; cd -; done

    - name: Run util tests
      working-directory: util/
      run: for DIR in $(find . -name 'go.mod'); do cd $(dirname $DIR); go test ./... || exit 1; cd -; done
